# GOD forgive me... I am doing this for react native tests... 
# I pull my hair for a few days now and I gave up...
# react native requires Metro to run tests, which on its own can not resolve symlics
# once there is better way to handle tests in react native I will delete this ... I promise
node-linker=hoisted