name: Release
on:
  push:
    branches:
      - disable/master
env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  build-test-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '12'
      - name: Build and Test
        run: |
          yarn install
          yarn bootstrap
          yarn test

      - name: Create ".npmrc" file in the project root
        run: echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" > .npmrc

      - name: Set git email
        run: git config --global user.email "${{ secrets.USER_EMAIL }}"

      - name: Set git username
        run: git config --global user.name "vydimitrov"

      - name: Create a release on GitHub
        if: success()
        run: yarn lerna version --yes

      - name: Release packages to NPM
        if: success()
        run: yarn lerna publish from-package --yes
